body {
    background: black;
}

span {
    color: goldenrod;
}

img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid goldenrod;
}

img:hover {
    border: 10px solid rgb(33, 243, 145);
    width: 35%;
}

.info {
    width: 30%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

span:hover {
    font-weight: bold;
    color: red;
}

.active  {
    width: 30%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
